body {
  background: #232323; }

/*
Adjust variables to change the size of the box
*/
.wrap {
  perspective: 80rem;
  perspective-origin: 50% 50% 0;
  width: 255px;
  margin: 5rem auto; }

.box {
  position: relative;
  width: 255px;
  height: 455px;
  transform-style: preserve-3d;
  transform-origin: 50% 50% 0;
  animation: spin1 1s 1 ease-out forwards;
  animation-name: spin1; }
  .box > div {
    position: absolute;
    color: rgba(255, 255, 255, 0.2);
    background: rgba(35, 35, 35, 0.75);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.2) inset;
    text-align: center; }
  .box .inner {
    position: relative;
    height: 100%; }
  .box .front,
  .box .back,
  .box .top,
  .box .bottom {
    transform-origin: top center; }
  .box .right,
  .box .left {
    transform-origin: top left;
    width: 255px;
    height: 455px; }
  .box .front,
  .box .back {
    width: 255px;
    height: 455px; }
  .box .bottom,
  .box .top {
    height: 255px;
    width: 255px; }
  .box .back {
    transform: rotateY(180deg) translateZ(127.5px); }
  .box .right {
    transform: rotateY(90deg) translateZ(255px) translateX(-127.5px); }
  .box .left {
    transform: rotateY(270deg) translateX(-127.5px); }
  .box .bottom {
    transform: rotateX(270deg) translateY(-127.5px) translateZ(455px); }
  .box .top {
    transform: rotateX(90deg) translateY(-127.5px); }
  .box .front {
    transform: translateZ(127.5px); }

.player {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 30px;
  background: white;
  border: 1px solid blue; }

.rect {
  position: absolute;
  left: 100px;
  bottom: 0;
  width: 100px;
  height: 40px;
  border: 1px solid white; }

.step {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30px;
  height: 10px;
  border: 1px solid white; }

.bad {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 5px;
  height: 8px;
  border: 2px solid white; }

@-webkit-keyframes cspin1 {
  from {
    transform: rotateY(0); }
  to {
    transform: rotateY(90deg); } }

@-webkit-keyframes cspin2 {
  from {
    transform: rotateY(90deg); }
  to {
    transform: rotateY(180deg); } }

@-webkit-keyframes cspin3 {
  from {
    transform: rotateY(180deg); }
  to {
    transform: rotateY(270deg); } }

@-webkit-keyframes cspin4 {
  from {
    transform: rotateY(270deg); }
  to {
    transform: rotateY(360deg); } }

@-webkit-keyframes aspin1 {
  from {
    transform: rotateY(0); }
  to {
    transform: rotateY(-90deg); } }

@-webkit-keyframes aspin2 {
  from {
    transform: rotateY(-90deg); }
  to {
    transform: rotateY(-180deg); } }

@-webkit-keyframes aspin3 {
  from {
    transform: rotateY(-180deg); }
  to {
    transform: rotateY(-270deg); } }

@-webkit-keyframes aspin4 {
  from {
    transform: rotateY(-270deg); }
  to {
    transform: rotateY(-360deg); } }
