@import "bourbon";
body{ background: #232323; }

/*
Adjust variables to change the size of the box
*/
$boxH: 455px;
$boxD: 255px;
$boxW: 255px;

.wrap {
	@include perspective( 80rem );
  @include perspective-origin( 50% 50% 0 );
  width: $boxW;
  margin: 5rem auto;
}

.box {
  position: relative;
  width: $boxW; height: $boxH;
  @include transform-style( preserve-3d );
  @include transform-origin( 50% 50% 0 );
  @include animation( spin1 1s 1 ease-out forwards);
  @include animation-name( spin1 );

  > div {
    position: absolute;
    color: rgba(white, 0.2);
    background: rgba(#232323, 0.75);
    box-shadow: 0 0 1px 1px rgba(white, 0.2) inset;
    text-align: center;
  }
  .inner {
    position: relative;
    height: 100%;
  }

  .front,
  .back,
  .top,
  .bottom{
    @include transform-origin( top center );
  }

  .right,
  .left{
    @include transform-origin( top left );
    width: $boxD; height: $boxH;
    // line-height: $boxH;
  }

  .front,
  .back{
    width: $boxW; height: $boxH;
    // line-height: $boxH;
  }

  .bottom,
  .top{
    height: $boxD; width: $boxW;
    // line-height: $boxD;
  }

  .back {
    @include transform( rotateY(180deg) translateZ($boxD/2) );
  }
  .right {
    @include transform( rotateY(90deg) translateZ($boxW) translateX(-$boxD/2) );
  }
  .left {
    @include transform( rotateY(270deg) translateX(-$boxD/2) );
  }
  .bottom {
    @include transform( rotateX(270deg) translateY(-$boxD/2) translateZ($boxH) );
  }
  .top {
    @include transform( rotateX(90deg) translateY(-$boxD/2) );
  }
  .front {
    @include transform( translateZ($boxD/2) );
  }
}

.player {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 30px;
  background: white;
  border: 1px solid blue;
}
.rect {
  position: absolute;
  left: 100px;
  bottom: 0;
  width: 100px;
  height: 40px;
  border: 1px solid white;
}
.step {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30px;
  height: 10px;
  border: 1px solid white;
}
.bad {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 5px;
  height: 8px;
  border: 2px solid white;
}
@-webkit-keyframes cspin1 {
    from { @include transform( rotateY(0) ); }
    to { @include transform( rotateY(90deg) ); }
}
@-webkit-keyframes cspin2 {
    from { @include transform( rotateY(90deg) ); }
    to { @include transform( rotateY(180deg) ); }
}
@-webkit-keyframes cspin3 {
    from { @include transform( rotateY(180deg) ); }
    to { @include transform( rotateY(270deg) ); }
}
@-webkit-keyframes cspin4 {
    from { @include transform( rotateY(270deg) ); }
    to { @include transform( rotateY(360deg) ); }
}

@-webkit-keyframes aspin1 {
    from { @include transform( rotateY(0) ); }
    to { @include transform( rotateY(-90deg) ); }
}
@-webkit-keyframes aspin2 {
    from { @include transform( rotateY(-90deg) ); }
    to { @include transform( rotateY(-180deg) ); }
}
@-webkit-keyframes aspin3 {
    from { @include transform( rotateY(-180deg) ); }
    to { @include transform( rotateY(-270deg) ); }
}
@-webkit-keyframes aspin4 {
  from { @include transform( rotateY(-270deg) ); }
	to { @include transform( rotateY(-360deg) ); }
}