body{ 
  background: #232323;
}

.hidden {
  display: none;
}
/*
Adjust variables to change the size of the box
*/
$boxH: 455px;
$boxD: 655px;
$boxW: 655px;

$diamondH: 15px;
$diamondD: 15px;
$diamondW: 15px;

$gold: #E4C44A;

.wrap {
	perspective: 3000px;
  perspective-origin: 50% 50% 0;
  width: $boxW;
  margin: 5rem auto;
}
#diamond-frame {
  display: none;
}
#diamond, #diamond-frame {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: $diamondW;
  height: $diamondH;
  transform-style: preserve-3d;
  transform-origin: 50% 50% 0;
  transform: rotateY(0deg) rotateX(45deg) rotateZ(45deg);
  animation: spinz 1s linear infinite;
  animation-name: spinz;
  > div {
    position: absolute;
    color: rgba(white, 0.2);
    background: rgba(#232323, 0.75);
    box-shadow: 0 0 1px 1px rgba(white, 0.2) inset;
    text-align: center;
  }
  .inner {
    background-color: $gold;
    border: 1px solid white;
    box-sizing: border-box;
    position: relative;
    height: 100%;
  }

  .front,
  .back,
  .top,
  .bottom{
    transform-origin: top center;
  }

  .right,
  .left{
    transform-origin: top left;
    width: $diamondD; 
    height: $diamondH;
    // line-height: $diamondH;
  }

  .front,
  .back{
    color: transparent;
    width: $diamondW; 
    height: $diamondH;
    // line-height: $diamondH;
  }

  .bottom,
  .top{
    height: $diamondD; 
    width: $diamondW;
    // line-height: $diamondD;
  }

  .back {
    transform: rotateY(180deg) translateZ($diamondD/2);
  }
  .right {
    color: transparent;
    transform: rotateY(90deg) translateZ($diamondW) translateX(-$diamondD/2);
  }
  .left {
    transform: rotateY(270deg) translateX(-$diamondD/2);
  }
  .bottom {
    transform: rotateX(270deg) translateY(-$diamondD/2) translateZ($diamondH);
  }
  .top {
    transform: rotateX(90deg) translateY(-$diamondD/2);
  }
  .front {
    transform: translateZ($diamondD/2);
  }
}

.box {
  position: relative;
  width: $boxW; 
  height: $boxH;
  transform-style: preserve-3d;
  transform-origin: 50% 50% 0;
  animation: spin1 1s 1 ease-out forwards;
  animation-name: spin1;

  > div {
    position: absolute;
    color: rgba(white, 0.2);
    background: rgba(#232323, 0.75);
    box-shadow: 0 0 1px 1px rgba(white, 0.2) inset;
    text-align: center;
  }
  .inner {
    color: transparent;
    position: relative;
    height: 100%;
  }

  .front,
  .back,
  .top,
  .bottom{
    transform-origin: top center;
  }

  .right,
  .left{
    transform-origin: top left;
    width: $boxD; 
    height: $boxH;
    // line-height: $boxH;
  }

  .front,
  .back{
    color: transparent;
    width: $boxW; 
    height: $boxH;
    // line-height: $boxH;
  }

  .bottom,
  .top{
    height: $boxD; 
    width: $boxW;
    // line-height: $boxD;
  }

  .back {
    transform: rotateY(180deg) translateZ($boxD/2);
  }
  .right {
    color: transparent;
    transform: rotateY(90deg) translateZ($boxW) translateX(-$boxD/2);
  }
  .left {
    transform: rotateY(270deg) translateX(-$boxD/2);
  }
  .bottom {
    transform: rotateX(270deg) translateY(-$boxD/2) translateZ($boxH);
  }
  .top {
    transform: rotateX(90deg) translateY(-$boxD/2);
  }
  .front {
    transform: translateZ($boxD/2);
  }
}

.player, .bullet {
  position: absolute;
  left: 0;
  bottom: 0;
}
#player_0:before, #player_1:before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  top: -5px;
  left: 0;
}
#player_0:before {
  background: red;
}
#player_1:before {
  background: blue;
}
.rect {
  position: absolute;
  left: 100px;
  bottom: 0;
  width: 100px;
  height: 40px;
  border: 1px solid white;
}
.step {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  border: 1px solid white;
}
.bad {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 5px;
  height: 8px;
  border: 2px solid white;
}
.score-board {
  div {
    color: blue;
    font-size: 48px;
    width: 50%;
    float: left;
    text-align: center;
  }
  div:first-of-type {
    color: red;
  }
}
@-webkit-keyframes spinz {
  from { transform: rotateY(0deg) rotateX(45deg) rotateZ(45deg); }
  to { transform: rotateY(360deg) rotateX(45deg) rotateZ(45deg); }
  // 25% { transform: rotateY(90deg) rotateX(45deg) rotateX(45deg); }
  // 50% { transform: rotateY(180deg) rotateX(45deg) rotateZ(45deg); }
  // 75% { transform: rotateY(270deg) rotateX(45deg) rotateZ(45deg); }
  // 100% { transform: rotateY(360deg) rotateX(45deg) rotateZ(45deg); }
}

@-webkit-keyframes cspin1 {
    from { transform: rotateY(0); }
    to { transform: rotateY(90deg); }
}
@-webkit-keyframes cspin2 {
    from { transform: rotateY(90deg); }
    to { transform: rotateY(180deg); }
}
@-webkit-keyframes cspin3 {
    from { transform: rotateY(180deg); }
    to { transform: rotateY(270deg); }
}
@-webkit-keyframes cspin4 {
    from { transform: rotateY(270deg); }
    to { transform: rotateY(360deg); }
}

@-webkit-keyframes aspin1 {
    from { transform: rotateY(0); }
    to { transform: rotateY(-90deg); }
}
@-webkit-keyframes aspin2 {
    from { transform: rotateY(-90deg); }
    to { transform: rotateY(-180deg); }
}
@-webkit-keyframes aspin3 {
    from { transform: rotateY(-180deg); }
    to { transform: rotateY(-270deg); }
}
@-webkit-keyframes aspin4 {
  from { transform: rotateY(-270deg); }
	to { transform: rotateY(-360deg); }
}