body {
  background: #232323; }

.hidden {
  display: none; }

/*
Adjust variables to change the size of the box
*/
.wrap {
  perspective: 3000px;
  perspective-origin: 50% 50% 0;
  width: 655px;
  margin: 5rem auto; }

#diamond-frame {
  display: none; }

#diamond, #diamond-frame {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 15px;
  height: 15px;
  transform-style: preserve-3d;
  transform-origin: 50% 50% 0;
  transform: rotateY(0deg) rotateX(45deg) rotateZ(45deg);
  animation: spinz 1s linear infinite;
  animation-name: spinz; }
  #diamond > div, #diamond-frame > div {
    position: absolute;
    color: rgba(255, 255, 255, 0.2);
    background: rgba(35, 35, 35, 0.75);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.2) inset;
    text-align: center; }
  #diamond .inner, #diamond-frame .inner {
    background-color: #E4C44A;
    border: 1px solid white;
    box-sizing: border-box;
    position: relative;
    height: 100%; }
  #diamond .front,
  #diamond .back,
  #diamond .top,
  #diamond .bottom, #diamond-frame .front,
  #diamond-frame .back,
  #diamond-frame .top,
  #diamond-frame .bottom {
    transform-origin: top center; }
  #diamond .right,
  #diamond .left, #diamond-frame .right,
  #diamond-frame .left {
    transform-origin: top left;
    width: 15px;
    height: 15px; }
  #diamond .front,
  #diamond .back, #diamond-frame .front,
  #diamond-frame .back {
    color: transparent;
    width: 15px;
    height: 15px; }
  #diamond .bottom,
  #diamond .top, #diamond-frame .bottom,
  #diamond-frame .top {
    height: 15px;
    width: 15px; }
  #diamond .back, #diamond-frame .back {
    transform: rotateY(180deg) translateZ(7.5px); }
  #diamond .right, #diamond-frame .right {
    color: transparent;
    transform: rotateY(90deg) translateZ(15px) translateX(-7.5px); }
  #diamond .left, #diamond-frame .left {
    transform: rotateY(270deg) translateX(-7.5px);
    perspective: 3000px; }
  #diamond .bottom, #diamond-frame .bottom {
    transform: rotateX(270deg) translateY(-7.5px) translateZ(15px); }
  #diamond .top, #diamond-frame .top {
    transform: rotateX(90deg) translateY(-7.5px); }
  #diamond .front, #diamond-frame .front {
    transform: translateZ(7.5px); }

.box {
  position: relative;
  width: 655px;
  height: 455px;
  transform-style: preserve-3d;
  transform-origin: 50% 50% 0;
  animation: spin1 1s 1 ease-out forwards;
  animation-name: spin1; }
  .box > div {
    position: absolute;
    color: rgba(255, 255, 255, 0.2);
    background: rgba(35, 35, 35, 0.75);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.2) inset;
    text-align: center; }
  .box .inner {
    color: transparent;
    position: relative;
    height: 100%; }
  .box .front,
  .box .back,
  .box .top,
  .box .bottom {
    transform-origin: top center; }
  .box .right,
  .box .left {
    transform-origin: top left;
    width: 655px;
    height: 455px; }
  .box .front,
  .box .back {
    color: transparent;
    width: 655px;
    height: 455px; }
  .box .bottom,
  .box .top {
    height: 655px;
    width: 655px; }
  .box .back {
    transform: rotateY(180deg) translateZ(327.5px); }
  .box .right {
    color: transparent;
    transform: rotateY(90deg) translateZ(655px) translateX(-327.5px); }
  .box .left {
    transform: rotateY(270deg) translateX(-327.5px); }
  .box .bottom {
    transform: rotateX(270deg) translateY(-327.5px) translateZ(455px); }
  .box .top {
    transform: rotateX(90deg) translateY(-327.5px); }
  .box .front {
    transform: translateZ(327.5px); }

.player, .bullet {
  position: absolute;
  left: 0;
  bottom: 0;
  transform-style: preserve-3d; }

#player_0:before, #player_1:before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  top: -5px;
  left: 0; }

#player_0:before {
  background: red; }

#player_1:before {
  background: blue; }

.rect {
  position: absolute;
  left: 100px;
  bottom: 0;
  width: 100px;
  height: 40px;
  border: 1px solid white; }

.step {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  border: 1px solid white; }

.bad {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 5px;
  height: 8px;
  border: 2px solid white; }

.score-board div {
  color: blue;
  font-size: 48px;
  width: 50%;
  float: left;
  text-align: center; }

.score-board div:first-of-type {
  color: red; }

@-webkit-keyframes spinz {
  from {
    transform: rotateY(0deg) rotateX(45deg) rotateZ(45deg); }
  to {
    transform: rotateY(360deg) rotateX(45deg) rotateZ(45deg); } }

@-webkit-keyframes cspin1 {
  from {
    transform: rotateY(0); }
  to {
    transform: rotateY(90deg); } }

@-webkit-keyframes cspin2 {
  from {
    transform: rotateY(90deg); }
  to {
    transform: rotateY(180deg); } }

@-webkit-keyframes cspin3 {
  from {
    transform: rotateY(180deg); }
  to {
    transform: rotateY(270deg); } }

@-webkit-keyframes cspin4 {
  from {
    transform: rotateY(270deg); }
  to {
    transform: rotateY(360deg); } }

@-webkit-keyframes aspin1 {
  from {
    transform: rotateY(0); }
  to {
    transform: rotateY(-90deg); } }

@-webkit-keyframes aspin2 {
  from {
    transform: rotateY(-90deg); }
  to {
    transform: rotateY(-180deg); } }

@-webkit-keyframes aspin3 {
  from {
    transform: rotateY(-180deg); }
  to {
    transform: rotateY(-270deg); } }

@-webkit-keyframes aspin4 {
  from {
    transform: rotateY(-270deg); }
  to {
    transform: rotateY(-360deg); } }
